{{ define "main" }}
<div class="archive {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}">
  {{ $terms := .Data.Terms.Alphabetical }}
  {{ range $terms }}
  <ul class="archive__list">
    <li class="archive__list-item">
      <a class="archive__list-title" href="{{ .Page.RelPermalink }}" title="{{ .Page.Title }}">{{ .Page.Title }}</a>
      <div class="archive__list-date">
        {{ .Count }} {{ if eq .Count 1 }}post{{ else }}posts{{ end }}
      </div>
    </li>
  </ul>
  {{ end }}
</div>
{{ end }}